.c_feedback {

  margin-bottom: 40px;

  .title {
    font-size: 34px;
    font-weight: 600;
    color: #6741d9;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 34px;
    font-weight: 600;
    color: #495057;
  }
}
